{% extends 'main/layout.html' %}

{% load static %}
{% block title %} О нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>"Car Parking, Inc." - это ведущая компания в сфере управления и эксплуатации парковочных объектов в городских районах. Наша компания стремится обеспечить удобство и доступность парковки для жителей и посетителей городов.</p>
        <ul style="text-align: left">
            <li><p style="margin: 0">Парковки в центре города: Мы предоставляем современные и безопасные парковочные места прямо в самом центре города, чтобы наши клиенты могли легко добраться до магазинов, ресторанов и других достопримечательностей.</p></li>
            <li><p style="margin: 0">Парковочные абонементы: Мы предлагаем гибкие парковочные абонементы для постоянных клиентов, что позволяет им сэкономить время и деньги при посещении города.</p></li>
            <li><p style="margin: 0">Технологические решения: Мы используем современные технологии, такие как приложения для мобильных устройств и системы бронирования, чтобы сделать процесс парковки быстрым и удобным.</p></li>
            <li><p style="margin: 0">Экологические инициативы: Мы бережно относимся к окружающей среде и внедряем экологические практики, такие как зарядные станции для электромобилей и переработка отходов.</p></li>
        </ul>
        <p>Наша миссия: Мы стремимся улучшить жизнь горожан, предоставляя им удобные и безопасные парковочные услуги. Наша миссия - сделать парковку в городе легкой и доступной для всех.</p>
        <div>
            <video loop="" playsinline="" style="margin-bottom: 100px; display: block"  preload="metadata" poster="https://st.depositphotos.com/4200221/57602/v/600/depositphotos_576020614-stock-video-aerial-top-view-parking-lot.jpg" width="600" height="337" style="transform: rotate(0deg) scale(1);" autoplay=""><source type="video/mp4" src="https://st.depositphotos.com/4200221/57602/v/600/depositphotos_576020614-stock-video-aerial-top-view-parking-lot.mp4"></video>
        </div>
        <div>
            <img src="{% static 'main/img/logo.png' %}"  alt="">
            <figcaption>
                <p>Логотип</p>
            </figcaption>
        </div>

        <article class="history">
    <h2>Наша история развития</h2>
    <p style="margin: 0; max-width: 1000px"><span class="year">2000</span>: Основание "Car Parking": Группа энтузиастов и предпринимателей, разделяющих страсть к автомобилям и удобству парковки, объединилась, чтобы создать компанию "Car Parking". Их миссия заключалась в предоставлении выдающихся парковочных услуг в самых удобных и доступных местах..
      <br><br>
      <span class="year">2005</span>: Первая Парковка в Центре Города: В 2005 году "Car Parking" открыла свою первую парковку в центре города. Это был маленький, но важный шаг, который стал отправной точкой для развития компании и показал, что они готовы бороться за место в сфере парковки.
      <br><br>
      <span class="year">2010</span>: Расширение Сети: В течение следующих пяти лет "Car Parking" активно расширяла свою сеть парковок в различных городах. Компания сосредоточилась на создании современных парковочных объектов, оснащенных новейшими технологиями и услугами для клиентов.
      <br><br>
      <span class="year">2015</span>: Мобильное Приложение "Car Parking": В 2015 году "Car Parking" представила мобильное приложение для удобной бронирования парковочных мест и оплаты услуг. Это приложение сделало процесс парковки еще более удобным и эффективным для клиентов.
      <br><br>
      <span class="year">2018</span>: Экологические Инициативы: В ответ на растущий интерес к экологическим вопросам, "Car Parking" внедрила экологические инициативы, включая зарядные станции для электромобилей, солнечные панели на крыше парковок и программы по уменьшению выбросов углекислого газа.
      <br><br>
      <span class="year">2023</span>: Глобальное Присутствие: Сегодня "Car Parking" является мировым лидером в области парковочных услуг. Сеть парковок охватывает несколько стран, и компания продолжает инновационные разработки, чтобы предоставлять клиентам наилучшие возможности парковки.
      <br><br>
      <span class="year">Будущее</span>: Инновации и Удобство: "Car Parking" стремится к постоянному совершенствованию своих услуг и технологий. В будущем компания планирует внедрять автономные парковочные системы и интеллектуальные решения для более удобного и экологичного паркования.
      <br><br>
    </p>
  </article>

        <article class="requisites">
    <h2>Реквизиты</h2>
      <br><br>
            Название компании: Car Parking, Inc.
      <br><br>
            Юридический адрес: 123 Колесникова, Минск, Беларусь, 25564
      <br><br>
            Физический адрес: 456 Якуба Колоса, Минск, Беларусь, 25570
      <br><br>
            Телефон: +375 (29) 45-67-890
      <br><br>
            Электронная почта: info@carparking.com
      <br><br>
            Официальный веб-сайт: www.carparking.com
      <br><br>
            ИНН (Идентификационный номер налогоплательщика): 245325542
      <br><br>
            ОГРН (Государственный регистрационный номер юридического лица): 11346324
      <br><br>
            Наименование банка: Bank of Car Parking
      <br><br>
            Расчетный счет: 2435 6532 7245 2357
      <br><br>
            Корреспондентский счет: 8765 4321 2345 6789
      <br><br>
            БИК (Банковский идентификационный код): AВVD5234
      <br><br>
            Директор компании: Игорь Иванович Лалупко
      <br><br>
            Юридический статус: Общество с ограниченной ответственностью (ООО)
      <br><br>
            Лицензии и сертификаты: Компания имеет все необходимые лицензии и сертификаты для предоставления парковочных услуг и следует законам и нормативам в области парковки.
      <br><br>

  </article>

    <section class="certificates">
        <h3>Сертификат</h3>
        <div>
            <p>EДИНЫЙ РЕЕСТР ПАРКОВОК</p>
            <p>СВИДЕТЕЛЬСТВО</p>
            <p>О внесении изменений</p>
            <p>Общество с ограниченной ответственностью</p>
            <p>Реестровый номер:153501</p>
            <p>Директор: Лалупко</p>
        </div>
    </section>

    </div>
{% endblock %}