{% extends 'main/layout.html' %}

{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ news.title }}</h1>
        <p>{{ news.anons }}</p>
        <p>{{ news.date }}</p>

        <figure>
            <img src="{% static 'main/img/backg.png' %}" alt="">
            <figcaption>
                <p>Реклама</p>
            </figcaption>
        </figure>

        <div>
            <h2>Партнеры</h2>
            <ul>
                <li><img src="{% static 'main/img/mazda.png' %}" width="100" height="100" alt=""> <a href="https://mazda.by/" class="btn btn-warning" target="_blank" >Mazda</a></li>
                <li><img src="{% static 'main/img/audi.png' %}" width="100" height="100" alt=""><a href="https://www.audi.by/by/web/ru.html" class="btn btn-warning" target="_blank">Audi</a></li>
                <li><img src="{% static 'main/img/bmw.png' %}" width="100" height="100" alt=""><a href="https://www.bmw.by/ru/index.html" class="btn btn-warning" target="_blank">BMW</a></li>
                <li><img src="{% static 'main/img/chevrolet.png' %}" width="100" height="100" alt=""><a href="https://www.chevrolet.com/" class="btn btn-warning" target="_blank">Chevrolet</a></li>
                <li><img src="{% static 'main/img/toyota.png' %}" width="100" height="100" alt=""><a href="https://toyota-minsk.by/" class="btn btn-warning" target="_blank" >Toyota</a></li>
            </ul>
        </div>
    </div>


{% endblock %}