{% extends 'main/layout.html' %}

{% load static %}
{% block title %} О нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Вакансии</h1>


        <section class="openings-list">
      <ul>
        <li >
            <p style="margin: 0; max-width: 1000px"><span style="color: orange; ">Управляющий парковкой.</span> Отвечать за общее управление и координацию работы парковки, включая персонал, клиентское обслуживание, безопасность и техническую поддержку. Оплата: от 1020 до 1460 бел. руб.
            </p>
        </li>
        <li >
            <p style="margin: 0; max-width: 1000px"><span style="color: orange">Технический специалист.</span> Заниматься обслуживанием и ремонтом технических систем парковки, таких как оплата, бронирование и системы безопасности. Оплата: от 1230 до 1720 бел. руб.
            </p>
        </li>
        <li >
            <p style="margin: 0; max-width: 1000px"><span style="color: orange">Сотрудник по безопасности парковки.</span> Отвечать за безопасность клиентов и автомобилей на парковке, осуществляет контроль доступа и мониторинг. Оплата: от 980 до 1200 бел. руб.
            </p>
        </li>
        <li >
            <p style="margin: 0; max-width: 1000px"><span style="color: orange">Сотрудник по обслуживанию и уборке.</span> Заниматься уборкой парковочных зон, обслуживанием помещений и поддержанием чистоты. Оплата: от 1300 до 1600 бел. руб.
            </p>
        </li>
        <li >
            <p style="margin: 0; max-width: 1000px"><span style="color: orange">Аналитик данных по парковкам.</span>  Анализировать данные о использовании парковочных мест и клиентском спросе для оптимизации операций. Оплата: от 1000 до 1240 бел. руб.
            </p>
        </li>
        <li >
            <p style="margin: 0; max-width: 1000px"><span style="color: orange">Менеджер по развитию бизнеса.</span> Заниматься поиском новых партнеров и возможностей для расширения бизнеса парковок. Оплата: от 1700 до 2190 бел. руб.
            </p>
        </li>
        <li >
            <p style="margin: 0; max-width: 1000px"><span style="color: orange">Менеджер по контролю качества.</span> Отвечать за контроль качества предоставляемых услуг, включая проверку состояния парковки и оценку уровня обслуживания. Оплата: от 1420 до 1630 бел. руб.
            </p>
        </li>
      </ul>
    </section>


        <button class="btn btn-danger">На главную страницу</button>
    </div>
{% endblock %}