{% extends 'main/layout.html' %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="features">
    <h1>Создать аккаунт</h1>
    <p>Заполните следующую форму:</p>
    <form action="." method="post">

        {% csrf_token %}
        {{ user_form.username }}
        {{ user_form.email }}
        {{ user_form.date_of_birth }}
        {{ user_form.phone_number }}
        {{ user_form.password }}
        {{ user_form.password2 }}
        <p><input type="submit" value="Создать аккаунт"></p>
    </form>
</div>
{% endblock %}