{% extends 'main/layout.html' %}

{% block title %} Ваши автомобили {% endblock %}

{% block content %}
    <div class="features">
        <h1>Ваши автомобили</h1>
        <div class="autos-list">
            {% if autos %}
                {% for el in autos %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{el.image.url}}" class="card-img-top" alt="car" >
                        <div class="card-body">
                            <h5 class="card-title">{{el.brand}} {{el.model}}</h5>
                            <form method="POST">
                            <a href="{% url 'auto_delete' el.id %}" class="btn btn-primary">Удалить</a>
                            {% if el.isParked %}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info" value="{{el.id}}" name="auto_id">Отпарковать</button>
                            {% endif %}
                             </form>
                        </div>
                     </div>
                {% endfor %}
        </div>

            {% else %}
                <p> Автомобили отсутсвуют </p>
            {% endif %}
    </div>
{% endblock %}